@inherits LayoutComponentBase

<div class="main">

    <div class="top-row px-4">
        <a href="morse" target="_blank">Translate and Play</a>
        <a href="setup" target="_blank">Set Sound</a>
        <a href="log" target="_blank">Get Record Number 2</a>
    </div>
    <div class="content px-4">
        @Body
    </div>


</div>
